.custom-audio-player{
    width: 93vw;
    display: flex;
    position: sticky;
    left: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 3rem;
    gap: 1rem;
    background-color: rgba(14,2,21,0.5);
    
    
}

.custom-image-player{
    height: 40px;
    width: 40px;
    object-fit: cover;
}

.duration-range{
    filter: hue-rotate(25deg);
    width: 100%;
}

.duration-flex{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    width: 50%;
}

.volume-range{
    filter: hue-rotate(25deg);
    width: 13%;
}